.file-list-container {
  width: 19vw;
  height: 85vh; /* vh stands for viewport height */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex; /* Use flexbox to control child elements */
  flex-direction: column; /* Arrange child elements vertically */
}

.file-item {
  flex: 1;
  overflow-y: auto;
}
