<div class="chat-room-container">
  <div class="chat-messages">
    <div class="message" *ngFor="let message of messages">
      <strong class="message-user">{{ message.user }} :</strong>
      <span class="message-content" [innerHTML]="message.text"></span>
    </div>
  </div>
  <button
    mat-icon-button
    *ngIf="
      messages.length > 0 && messages[messages.length - 1].user === 'Friday'
    "
    matSuffix
    aria-label="Clear"
    (click)="moreInfo()"
  >
    <mat-icon>info</mat-icon>
  </button>
  <mat-form-field class="chat-input">
    <input
      matInput
      placeholder="Type a message"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    />
    <button
      mat-icon-button
      *ngIf="newMessage"
      matSuffix
      aria-label="Clear"
      (click)="clearMessage()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
