.chat-room-container {
  width: 79vw;
  height: 85vh; /* vh stands for viewport height */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex; /* Use flexbox to control child elements */
  flex-direction: column; /* Arrange child elements vertically */
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chapter-input {
  width: 100%;
  margin-top: 10px;

}

.chat-input {
  width: 100%;
}

.mat-list-item {
  padding: 10px;
}

.mat-form-field {
  width: calc(100% - 16px);
}

.mat-icon-button {
  margin-left: -8px;
}
