<div class="chat-room-container">
  <div class="chat-messages">
    <div class="message" *ngFor="let message of messages">
      <strong class="message-user">{{ message.user }} :</strong>
      <span class="message-content">{{ message.text }}</span>
    </div>
  </div>

  <mat-form-field class="chat-input">
    <input
      matInput
      placeholder="Type a message"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    />
    <button
      mat-icon-button
      *ngIf="newMessage"
      matSuffix
      aria-label="Clear"
      (click)="clearMessage()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
